.card {
    margin-top: 50px;
    position: relative;
}

.card img {
    align-self: center;
    height: 190px;
    max-width: 350px;
}

.card li {
    margin-bottom: 10px;
}

.card ul {
    margin-bottom: 75px;
}

.card-title {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.fas, .fab {
    margin-right: 5px;
}

.project-links { /* Keeps repo and site buttons glued to bottom of card */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    bottom: 20px;
    position: absolute;
}

.project-links button {
    width: 125px;
    display: block;
    margin: 0 auto;
    font-size: large;
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    .project-links {
        position: relative;
    }
    .project-links button {
        width: 80%;
        font-size: x-large;
        margin-bottom: 20px;
    }
}    
