.card {
    margin-top: 50px;
}

.card-details {
    padding-bottom: 15px;
}

.card img {
    align-self: center;
    height: 190px;
    max-width: 350px;
}

.card li {
    margin-bottom: 10px;

}

.card ul {
    margin-bottom: 25px;
}

.card-title {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.fas, .fab {
    margin-right: 5px;
}

p {
    line-height: 25px;
    margin-bottom: 15px;
}

.project-links {
    display: flex;
    flex-direction: row;
    bottom: 0;
}
.project-links button {
    width: 125px;
    display: block;
    margin: 0 auto;
    font-size: large;
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
    
}

@media only screen and (max-width: 1200px) {
    .project-links button {
        width: 80%;
        font-size: x-large;
        margin-bottom: 20px;
    }
}    
