* {
    box-sizing: border-box;
}

.card img {
    height: 190px;
    background-size: cover;
    overflow: hidden;
}

.container.top-bar {
    margin-top: 10px;
}

/* Navbar text elements */
.col-lg-4 h6 {
    font-family: 'Francois One', sans-serif;
    font-size: xxx-large;
}

img {
    overflow: hidden;
}