/* Headache Remover - No matter the box model selector settings, the true width and height will always be what you define it as */
* { 
    box-sizing: border-box;
}

a,
h2{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 5px;
}

body{
    background-image: url("../images/trees.png");

    /* Uses flex to handle the layout of the page and sets it to flex direction column so our website isnt turned sideways */
    display: flex;

    flex-direction: column;
    min-height: 100%;

    /* Fixes there being space between the top of the header box and the top of the viewport */
    margin: 0; 
}

#contact-me{
    padding: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content{
    background-color: #ffffff;
    border-color: #dddddd;

    /* Defined in HW files as the required content width */
    width: 960px;

    /* Center Content box */
    margin: 0 auto;

    /* Push Content box 20px down from header */
    margin-top: 20px;

    /* Fixes bug where when extra content is added to #content, the footer would be flush with the Content box */
    margin-bottom: 20px;
    
    border: 1px solid #cccccc;
    padding: 20px;
}

#submit-button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
    height: auto;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 20px;

    /* Keeps footer glued to bottom of screen */
    margin-top: auto;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2{
    margin-left: 20px;
}

header{

    /* Fixes the spacing bug between the navbar links and h1 Dawson Hensel 
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;

    */

    width: 100%;
    
    /*color of box behind the entire header content */
    background-color: #ffffff; 

    position: relative;
    border-bottom: 2px solid #cccccc;
}

header a{
    padding: 0px;
    margin: 0 auto;
}

header h1{
    position: relative;
    text-align: center;
    width: 200px;
    height: auto;
    background-color: #4aaaa5;
    color: #ffffff;

    /* Keeps top of header box from creating space between itself and the top of the viewport */
    margin: 0; 

    /* Aligns text with the left side of the content box */
}

header a{
    text-decoration: none;
}

/* Create container for header content to span the width of the content box so we can align our header content correctly */
.header-container{
    margin-left: calc(50% - 480px);
    margin-right: calc(50% - 480px);
    margin: 0 auto;
    max-width: 960px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;
}

header ul{
    margin: auto;
    position: relative;
}

/* hr reset */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px;
  }

html{
    height: 100%;
}

img{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    float: left;
    /* creates 20px padding around each image but creates a bug in portfolio where the href width/height also takes the padding into account */
    padding: 20px;
}

input,
textarea{
    /* Makes contact form textboxes span the entire width of its div to comply with HW requirements */
    width: 878px;
    margin-left: 20px;
}

/* Keeps links in nav from creating whitespace in header */
ul{
    margin: 0;
}
li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    
}

nav{
    text-align: right;
}

/* BEGIN PHOTO GRID */

/* Define display type, 2 colums and 3 rows, and define a 0px column-gap */
.photo-grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 225px 225px 225px;
    column-gap: 0px;
}

.photo-grid-img{
    position: relative;
    width: 50%;
    height: auto;
}

.photo-text{
    font-size: 18px;
    position: absolute;
    text-align: center;
    width: 210px;
    height: auto;
    padding: 10px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    left: 20px;
    top: 130px;

}

.photo-grid-img img{
    margin-left: 0px;
}

/* END PHOTO GRID */

/* Make header text in section have room of 20px from the left of the content box background */
section h1{
    padding: 0px 0px 0px 20px;
    color: #4aaaa5;
}

section p{
    color: #777777;
    line-height: 1.5;
    font-size: 20px;
    padding: 0px 20px 20px 20px;

    /*set a rule for overflowing text within the section box for p tagged text */
    overflow: auto; 
}